
.taille{
    width: 70%;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 350px;
    padding: 30px;
    height: 100%;
}
section{
    max-width: 100%;
    max-height: 100%;
}
.tailleMoyen{
    width: 80%;
    padding: 15px;
    margin: 10px;
    height: auto;
}
.actu{
    width: 35%;
    padding: 15px;
    margin: 10px;
    height: auto;
}

.img{
    display: flex;
    flex-direction: row;
    height: 350px;
    margin: 20px;
    max-width: 100%;
    border-radius: 4px;
    background-color: rgba(0,0,0 , 0.82);
    animation: papillon 25s cubic-bezier(0.175, 0.885, 0.52, 1.875) infinite 5s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

}

@keyframes papillon{
    0%, 33.54%, 100%{
        background-image: url('../img/administration.jpg');
    }
    36.18%, 53.72%{
        background-image: url('../img/hauteur.jpg');

    }
    56.35%, 73.89%{
        background-image: url('../img/ala.jpg');

    }
    76.53%, 97.07%{
        background-image: url('../img/ylang.jpg');
    }
}

#titre{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.45em;
    font-weight: bold;
}
.hist{
    border-top: 1px solid #121212;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}
.historique{
    padding: 10px ;
    text-align: left;
}
